<div class="card"><%= render "restaurant", restaurant: @restaurant %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
    </li>
    <li class="list-group-item">
    Rating:
    <%= review.rating %>
    </li>

    <%= link_to "Delete this review",
      review_path(review),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>

  <% end %>
</ul>

<br>

<div class=" d-flex justify-content-between text-center">
  <p class="btn btn-success"><%= link_to "Create new review", new_restaurant_review_path(@restaurant)%></p>
  <p class="btn btn-success"><%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %></p>
  <p class="btn btn-success"><%= link_to "Back to restaurants", restaurants_path %></p>
  <p class="btn btn-success"><%= link_to "Destroy this restaurant", @restaurant, method: :delete %></p>
</div>
</div>
